* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.darwin {
    width: 500px;
    height: 500px;
    position: relative;
}

.face {
    width: 90%;
    height: 300px;
    position: absolute;
    top: 10px;
    z-index: 3;
    border-radius: 80% 40% 40% 50% / 80% 60% 40% 40%;
    border: 2px solid black;
    border-bottom: transparent;
    border-left: none;
    border-right: none;
    background-color: #d44e14;
}

.face .shine {
    width: 55px;
    height: 100px;
    border-radius: 60% 30% 40% 40% / 40% 20% 20% 40%;
    position: absolute;
    left: 20px;
    top: 145px;
    transform: rotate(10deg);
    background-color: #e68652;
}

.face .shine2 {
    width: 55px;
    height: 90px;
    border-radius: 30% 40% 50% 50% / 40% 40% 20% 30%;
    position: absolute;
    left: 20px;
    top: 200px;
    transform: rotate(-10deg);
    background-color: #e68652;
}

.face .shine2::after {
    content: "";
    width: 25px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    right: -24px;
    bottom: 20px;
    transform: rotate(10deg);
    background-color: #d44e14;
}

.face2 {
    width: 105%;
    height: 280px;
    border-radius: 40% 50% 40% 40%/ 40% 50% 50% 70%;
    border: 2px solid black;
    position: absolute;
    top: 120px;
    z-index: 2;
    background-color: #d44e14;
}

.face2::after {
    content: "";
    width: 20px;
    height: 80px;
    position: absolute;
    left: 30px;
    bottom: 25px;
    z-index: 50;
    transform: rotate(-40deg);
    background-color: #d44e14;
}

.eyes {
    display: flex;
    position: absolute;
    right: 20px;
    top: 70px;
    z-index: 9;
    transform: rotate(-5deg);
}

.eye {
    width: 170px;
    height: 80px;
    margin: 10px;
    border-radius:  60% 40% 40% 25% / 60% 70% 40% 40%;
    border: 2px solid black;
    position: relative;
    background-color: aliceblue;
}

.eye:nth-child(2) {
    width: 150px;
}

.eye .pupil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30%, -60%);
    background-color: black;
}

.eye::after {
    content: "";
    width: 80px;
    height: 10px;
    border-radius: 90%;
    border-top: 2px solid black;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -40%) rotate(-2deg);
    background-color: #d44e14;
}

.eye .eyebrow {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 20px solid black;
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 50%;
    bottom: -12px;
}

.eye:first-of-type .eyebrow {
    transform: translate(-50%, -110%)  rotate(-60deg);
}

.eye:last-of-type .eyebrow {
    transform: translate(-50%, -110%)  rotate(-40deg);
}

.eye .eyebrow::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: -12px;
    top: -14px;
}

.eye .eyebrow::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    right: -12px;
    bottom: -14px;
}

.eyelashes {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.eye:nth-child(1) .eyelashes {
    right: 100%;
    transform: rotateY(180deg);
}

.eye:nth-child(2) .eyelashes {
    left: 100%;
}

.eyelashes .line {
    width: 20px;
    height: 2px;
    background-color: black;
}

.eyelashes .line:nth-child(1) {
    transform: rotate(-30deg) translateX(-5px);
}

.eyelashes .line:nth-child(2) {
    transform: rotate(-18deg);
}

.eyelashes .line:nth-child(3) {
    transform: rotate(10deg);
}

.mouse {
    width: 350px;
    height: 180px;
    border-radius: 25% 25% 40% 40%/ 60% 60% 70% 70%;
    border: 2px solid black;    
    position: absolute;
    right: -35px;
    top: 180px;
    display: flex;
    justify-content: space-evenly;
    transform: rotate(-3deg);
    background-color: aliceblue;
}

.mouse::after {
    content: "";
    width: 140px;
    height: 25px;
    border-radius: 100%;
    border-bottom: 2px solid black;
    position: absolute;
    top: -16px;
    left: 110px;
    transform: rotate(0deg);
    background-color: #d44e14;
}

.mouse .line {
    width: 10px;
    height: 100%;
    border-radius: 0% 100% 100% 0% / 50%;
    box-shadow: 2px 0 0 1px black;
    transform: rotate(5deg);
    background: aliceblue;
}

.fin {
    width: 100px;
    height: 100px;
    border-radius: 40% 60% 60% 40% / 40% 30% 30% 40%;
    border: 2px solid black;
    position: absolute;
    left: -30px;
    top: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotate(-35deg);
    background-color: #d44e14;
}

.fin .line {
    width: 50%;
    height: 1.5px;
    background-color: black;
}

.fin .line:first-of-type {
    transform: rotate(5deg);
}

.fin .line:last-of-type {
    transform: rotate(-10deg);
}

.hands {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 25px;
}

.hand {
    width: 50px;
    height: 120px;
    border-radius: 40% 40% 60% 60% / 40% 40% 60% 60%;
    border: 1px solid black;
    transform: skewX(-5deg);
    background-color: #d44e14;
}

.hand::after {
    content: "";
    width: 104%;
    height: 60px;
    position: absolute;
    transform: skewY(-10deg);
    background-color: black;
}

.legs {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.legs::after {
    content: "";
    width: 101px;
    height: 40px;
    position: absolute;
    transform: skew(-5deg, -10deg) translateX(4px);
    background-color: black;
}

.leg {
    width: 50px;
    height: 110px;
    border: 1px solid black;
    transform: skewX(-5deg);
    background-color: #d44e14;
}